---
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");
---

<!-- template -->
<Layout title="Astro Blog">
  <Showcase
    title="Astro Blogs"
    description="A blog which is powered by astro"
  />
  <section class="page-content">
    <div class="container">
      {
        posts.map((post) => (
          <Card>
            <h3>{post.frontmatter.title}</h3>
            <p>{post.frontmatter.excerpt}</p>
            <a href={`/${post.frontmatter.slug}`} class="btn">
              Read More
            </a>
          </Card>
        ))
      }
    </div>
  </section>
</Layout>
<!-- styles -->

<style>
  /* Page Content */
  .page-content {
    margin: 20px 0;
  }

  .page-content h2,
  .page-content h3 {
    margin: 20px 0;
  }

  .page-content h2 {
    font-size: 40px;
  }

  .page-content h3 {
    font-size: 25px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
</style>
